html,
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
margin:0;
height: 100%;
}
.nav-container{
  margin:auto;
}

.downloadButton
{
  border: solid 1px rgb(0, 153, 204) ;
  padding: 10px;
  transition:  all 0.3s;
  width: 100%;
  text-align: center;
}

.downloadButton .lni
{
  margin-right: 15px;
}

.downloadButton:hover
{
  transform: scale(0.95);
}
@media only screen and (max-width: 900px)
{
.notecard
{
  /* max-width: calc(100vw - 20px); */
  min-width: max-content;
  transform: scale(0.75);
  position: relative;
  right: 60px;
  margin: 0 !important;
}
}